
<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
      Mobile Menu Start
  *************************************-->
  <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
    <span id="tg-close" class="tg-close fa fa-close"></span>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="/#/Partie/listPartieUser">partie Local</a>

        </li>
        <li>
          <a href="/#/Partie/listPartieVUser">partie Visiteuse</a>

        </li>

      </ul>
    </div>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="#">Mes réservations</a>

        </li>
        <li>
          <a href="/#/equipes/allequipe">Contact</a>

        </li>

      </ul>
    </div>
  </div>
  <!--************************************
      Mobile Menu End
  *************************************-->
  <!--************************************
      Header Start
  *************************************-->
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <nav id="tg-nav" class="tg-nav brand-center">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                <i class="fa fa-bars"></i>
              </button>
              <strong class="tg-logo">
                <a href="#"><img src="./assets/img/brand/image.png" alt="image description"></a>
              </strong>
            </div>
            <div id="tg-navigation" class="tg-navigation">
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="/#/Partie/listPartieUser">partie Locaux</a>

                  </li>
                  <li>
                    <a href="/#/Partie/listPartieVUser">partie Visiteuse</a>

                  </li>

                </ul>
              </div>
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="/#/reservation/mesRservations">Mes réservations</a>

                  </li>
                  <li>
                    <a   href="#" role="button" aria-haspopup="true" aria-expanded="false"  (click)="false">Profile</a>
                    <ul class="tg-dropdown-menu">


                      <li><a  routerLink="/users/userProfile"><i class="fa fa-user"></i> Mon profile</a></li>
                      <li *ngIf="this.isShown"><a  routerLink="/dashboard"><i class="fa fa-tachometer"></i> dashboard</a></li>
                      <li> <a class="tg-btn " (click)="logout()"><span><i class="fa fa-lock"></i> Déconnexion</span></a>

                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--************************************
      Header End
  *************************************-->
  <!--************************************
      Banner Start
  *************************************-->
  <div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
      <img src="./assets/front/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
      <div class="row">
        <div class="tg-banner-content tg-haslayout">
          <div class="tg-pagetitle">
            <h1>Bienvenue </h1>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main-body">

      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{user.image}}" alt="Admin" class="rounded-circle" width="150">
                <div class="text-value-lg">
                  <h4>{{user.nom}} {{user.prenom}}</h4>
                  <p class="text-secondary text-value-lg">{{user.type}}</p>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">Nom d'utilisateur</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.username}}
                </div>
              </div>
              <hr>
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">Âge</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{age}}
                </div>
              </div><hr>
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.email}}
                </div>
              </div>
              <hr>
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">GSM</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.numTel}}
                </div>
              </div>
              <hr>
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">Equipe</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <div class="profile">
                    <img src= "{{user.equipe.logo}}"class="img-avatar" alt="image profil" width="100" height="100">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row text-value-lg">
                <div class="col-sm-3">
                  <h6 class="text-value-lg">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.address}}
                </div>
              </div>

            </div>
          </div>

          <div class="row gutters-sm">
            <div class="col-sm-12 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Image CIN</i></h6>
                  <small><div>
                    <img src= "{{user.imageCIn}}" alt="image CIN" width="100" height="100">
                  </div></small>

                </div>
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <button type="button"(click)="generatePDF()" class="btn text-value-lg btn-success">PDF Carte</button>

                  <div #content>

                    <div  id="carte" [style.backgroundImage]="'url('+ carte.modelCarte +')'">



                      <div id="image" class="profile">
                        <img src= "{{user.image}}"alt="image profil" width="100" height="110">
                      </div>

                      <div id="nom"> Nom : {{user.nom}}</div>
                      <div id="prenom"> Prenom : {{user.prenom}}</div>
                      <div id="adress"> Addresse : {{user.address}}</div>

                    </div>

                    <div id="codeqr" ><ngx-qrcode
                      [elementType]="elementType"
                      [errorCorrectionLevel]="correctionLevel"
                      [value]="qrCodeValue"
                      cssClass="bshadow"
                      [width]="70"
                      errorCorrectionLevel="H"
                    ></ngx-qrcode>
                    </div>

                  </div>

                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-haslayout tg-footerinfobox">
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-footerinfo">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="tg-footercol">
              <div class="tg-haslayout">
                <strong class="tg-logo ">
                  <a href="#">
                    <img src="./assets/img/brand/image.png" alt="image description">
                  </a>
                </strong>
              </div>

              <ul class="tg-contactinfo text-value-lg">
                <li>
                  <i class="fa fa-map-o "></i>
                  <address> 14 Rue Ibn Al Jazzar 4000 Sousse - SOUSSE</address>
                </li>
                <li>
                  <i class="fa fa-envelope-o fa-2x text-value-lg"></i>
                  <a href="info%40domain.html"> liguesoussefootball@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-phone fa-2x text-value-lg"></i>
                  <span> +216 73 226 785</span>
                </li>
              </ul>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-footercol">
              <div class="">
              </div>
              <div class="tg-description">
              </div>
              <form class="tg-form-newsletter">

              </form>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-footercol">
              <div class="tg-posttitle">
                <h3>S'inscrir chez Sportaholic Access</h3>
              </div>
              <div class="tg-description">
              </div>
              <form class="tg-form-newsletter">
                <fieldset>

                  <button class="tg-btn" type="submit">S'inscrir</button>
                </fieldset>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <div class="container">
      <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Sportaholic Accees</a></span>

    </div>
  </div>
</footer>
