<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 45, alt: 'sportaholic'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'sportaholic Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">

  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="{{user.image}}" class="img-avatar" alt="{{user.username}}"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item text-value-lg" routerLink="/users/adminProfile"><i class="fa fa-user fa-2x"></i> Mon profile</a>
        <a class="dropdown-item text-value-lg"  routerLink="/Partie/listPartieUser"><i class="fa fa-mail-reply fa-2x"></i> Parametter</a>
        <a class="dropdown-item text-value-lg" (click)="logout()"><i class="fa fa-lock fa-2x"></i> Déconnexion</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav class="text-value-lg fa-2x" [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>

<app-footer>
  <span><a href="https://coreui.io">Sportaholic </a> &copy; 2021 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">Sportaholic Access</a></span>
</app-footer>
