<div id="card" class="card container" >
  <div class="card-header">
    <div class="col-12 bg-50">
      <div class="quote-box2 wow bounceInDown" data-wow-delay=".20s">
        <h2>  {{partie.categroie.nom}} </h2>
      </div>
    </div>
  </div>
  <div  class="card-body">
    <div class="quote-box2 text-center ">
      <h2>  {{partie.stade.nom}} <br><span>{{partie.date}} </span><br><span>{{partie.time}} </span></h2><br>
      <div class="quote-box2 text-center bounceInDown" data-wow-delay=".20s">
        <h2>  nombre de reservation {{partie.nbr_place}} </h2>
      </div>
    </div>
  </div>
  <div  class="col-md-3 pr-2 pl-2">
    <div class="card text-center  bounceInLeft" data-wow-delay=".20s"> <img class=" profile"  src="{{partie.equipeLocaux.logo}}" alt="Card image">
      <div class="card-body mb-5">
        <h4 class="card-title">{{partie.equipeLocaux.nomEquipe}}</h4>
      </div>
    </div>
  </div>
  <div id="equipeV"class="col-md-3 pl-2 pr-2">
    <div class="card text-center  bounceInRight" data-wow-delay=".20s"> <img  class=" profile"  src="{{partie.equipeVisiteur.logo}}" alt="Card image">
      <div class="card-body mb-5">
        <h4 class="card-title">{{partie.equipeVisiteur.nomEquipe}}</h4>
      </div>
    </div>
  </div>


</div>

<div class="card container" *ngFor="let b of bloc ; let index = index" >
  <span>nom du bloc :  </span>
  <h2>  <a routerLink="/partie/addBlocPartie/{{partie.id}}/{{b.id}}">  {{b.nom}}</a></h2>
</div>
