#card{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#equipeV{
  position: absolute;
  top: 35%;
  left: 74%;
  background: transparent;
}
#equipeL{
  background: transparent;
}
#bloc{
  background-color: rgba(255, 255, 255, 0.5);

  color:black ;

}
#VS{
  position: absolute;
  top: 50%;
  left: 40%;

}
