<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
      Mobile Menu Start
  *************************************-->
  <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
    <span id="tg-close" class="tg-close fa fa-close"></span>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="/#/Partie/listPartieUser">partie Locaux</a>
          <!--<ul class="tg-dropdown-menu">
            <li><a href="index-2.html">home1</a></li>
            <li><a href="index2.html">home2</a></li>
          </ul>-->
        </li>
        <li>
          <a href="/#/Partie/listPartieUser">partie Locaux</a>
          <!--<ul class="tg-dropdown-menu">
            <li><a href="playergrid-v1.html">playergrid-v1</a></li>
            <li><a href="playergrid-v2.html">playergrid-v2</a></li>
            <li><a href="playerdetail.html">playergrid detail</a></li>
          </ul>-->
        </li>
        <!--<li class="active"><a href="buyticket.html">Buy Tickets</a></li>
        <li>
          <a href="#">Match Results</a>
          <ul class="tg-dropdown-menu">
            <li><a href="matchresult.html">match result</a></li>
            <li><a href="matchresultdetail.html">match result detail</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="#">Mes réservations</a>
          <!--<ul class="tg-dropdown-menu">
            <li><a href="fixtures.html">fixtures</a></li>
            <li><a href="fixturedetail.html">fixture detail</a></li>
          </ul>-->
        </li>
        <li>
          <a href="/#/equipes/allequipe">Contact</a>
          <!--<ul class="tg-dropdown-menu">
            <li><a href="soccermedia-1.html">pro soccer media1</a></li>
            <li><a href="soccermedia-2.html">pro soccer media2</a></li>
          </ul>-->
        </li>
        <!--<li><a href="contactus.html">Contact</a></li>
        <li>
          <a href="#"><i class=" fa fa-navicon"></i></a>
          <ul>
            <li><a href="aboutus.html">about us</a></li>
            <li><a href="shoplist.html">shop list</a></li>
            <li><a href="shopgrid.html">shop grid</a></li>
            <li><a href="productsingle.html">shop detail</a></li>
            <li><a href="bloglist.html">blog list</a></li>
            <li><a href="bloggrid.html">blog grid</a></li>
            <li><a href="blogdetail.html">blog detail</a></li>
            <li><a href="404.html">404 error</a></li>
            <li><a href="comming-soon.html">comming soon</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
  <!--************************************
      Mobile Menu End
  *************************************-->
  <!--************************************
      Header Start
  *************************************-->
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <div class="tg-topbar tg-haslayout">
            <nav id="tg-topaddnav" class="tg-topaddnav">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                  <i class="fa fa-arrow-right"></i>
                </button>
              </div>
              <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">

                <div class="tg-colhalf">

                </div>
              </div>
            </nav>
          </div>
          <nav id="tg-nav" class="tg-nav brand-center">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                <i class="fa fa-bars"></i>
              </button>
              <strong class="tg-logo">
                <a href="index-2.html"><img src="./assets/front/images/logo.png" alt="image description"></a>
              </strong>
            </div>
            <div id="tg-navigation" class="tg-navigation">
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="/#/Partie/listPartieUser">partie Locaux</a>
                    <!--<ul class="tg-dropdown-menu">
                      <li><a href="index-2.html">home1</a></li>
                      <li><a href="index2.html">home2</a></li>
                    </ul>-->
                  </li>
                  <li>
                    <a href="/#/Partie/listPartieUser">partie Locaux</a>
                    <!--<ul class="tg-dropdown-menu">
                      <li><a href="playergrid-v1.html">playergrid-v1</a></li>
                      <li><a href="playergrid-v2.html">playergrid-v2</a></li>
                      <li><a href="playerdetail.html">playergrid detail</a></li>
                    </ul>-->
                  </li>
                  <!--<li class="active"><a href="buyticket.html">Buy Tickets</a></li>
                  <li>
                    <a href="#">Match Results</a>
                    <ul class="tg-dropdown-menu">
                      <li><a href="matchresult.html">match result</a></li>
                      <li><a href="matchresultdetail.html">match result detail</a></li>
                    </ul>
                  </li>-->
                </ul>
              </div>
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="#">Mes réservations</a>
                    <!--<ul class="tg-dropdown-menu">
                      <li><a href="fixtures.html">fixtures</a></li>
                      <li><a href="fixturedetail.html">fixture detail</a></li>
                    </ul>-->
                  </li>
                  <li>
                    <a href="#">Profile</a>
                    <ul class="tg-dropdown-menu">


                      <li><a  href="#"><i class="fa fa-user"></i> Mon profile</a></li>
                      <li><a  href="#"><i class="fa fa-wrench"></i> Parametter</a></li>
                      <li> <a class="tg-btn " (click)="logout()"><span><i class="fa fa-lock"></i> Déconnexion</span></a>

                      </li>
                    </ul>
                  </li>
                  <!--<li><a href="contactus.html">Contact</a></li>
                  <li>
                    <a href="#"><i class=" fa fa-navicon"></i></a>
                    <ul>
                      <li><a href="aboutus.html">about us</a></li>
                      <li><a href="shoplist.html">shop list</a></li>
                      <li><a href="shopgrid.html">shop grid</a></li>
                      <li><a href="productsingle.html">shop detail</a></li>
                      <li><a href="bloglist.html">blog list</a></li>
                      <li><a href="bloggrid.html">blog grid</a></li>
                      <li><a href="blogdetail.html">blog detail</a></li>
                      <li><a href="404.html">404 error</a></li>
                      <li><a href="comming-soon.html">comming soon</a></li>
                    </ul>
                  </li>-->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--************************************
      Header End
  *************************************-->
  <!--************************************
      Banner Start
  *************************************-->
  <div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
      <img src="./assets/front/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
      <div class="row">
        <div class="tg-banner-content tg-haslayout">
          <div class="tg-pagetitle">
            <h1>Bienvenue </h1>
          </div>
          <ol class="tg-breadcrumb">
            <!--<li><a href="#">Home</a></li>-->
            <li class="active"><span>{{user.nom}}  {{user.prenom}}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--************************************
      Banner End
  *************************************-->
  <!--************************************
      Main Start
  *************************************-->
  <main id="tg-main" class="tg-main tg-haslayout  ">
    <section class="tg-main-section tg-haslayout pull-right ">

      <div class="col-sm-11 col-xs-11 pull-right"  >
        <div class="tg-contentbox" >

          <div class="tg-section-heading"><h2><span> <div  class="card-body">

                  <h2>  {{partie.stade.nom}} <br><span>{{partie.date}} </span><br><span>{{partie.time}} </span></h2><br>
                  <div class="quote-box2 text-center bounceInDown" data-wow-delay=".20s">
                    <h2>  nombre de reservation {{partie.nbr_place}} </h2>
                  </div>

              </div></span></h2></div>

          <section class="tg-main-section tg-haslayout">

            <div class="container">

              <div class="col-sm-11 col-xs-11 pull-right">
                <div class="row">
                  <div class="tg-latestresult">
                    <div class="row">
                      <div class="col-md-12 col-sm-10 col-xs-12">
                        <div class="tab-content tg-tabscontent">
                          <div role="tabpanel" class="tab-pane active" id="one">
                            <div class="tg-matchresult">
                              <div class="tg-box">
                                <div class="tg-score" ></div>
                                <div class="tg-teamscore">
                                  <strong class="tg-team-logo">
                                    <a href="#">
                                      <img src="{{partie.equipeLocaux.logo}}" alt="image description">
                                    </a>
                                  </strong>
                                  <div class="tg-team-nameplusstatus" >
                                    <h4><a href="#">{{partie.equipeLocaux.nomEquipe}}</a></h4>
                                  </div>

                                </div>
                                <div class="tg-teamscore">
                                  <strong class="tg-team-logo">
                                    <a href="#">
                                      <img src="{{partie.equipeVisiteur.logo}}" alt="image description">
                                    </a>
                                  </strong>
                                  <div class="tg-team-nameplusstatus">
                                    <h4><a href="#">{{partie.equipeVisiteur.nomEquipe}}</a></h4>
                                  </div>

                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                          <div class="container">
                            <div>
                                <span>
                                  <br>
                                </span>
                            </div>

                            <div class="col-sm-11 col-xs-11 pull-right"  *ngFor= "let b of bloc">
                              <div class="row">
                                <div class="tg-tickets">
                                  <div class="tg-ticket">
                                    <div class="tg-matchdetail">
                                      <span class="tg-theme-tag"> Nom du bloc : {{b.bloc.nom}}</span>

                                      <ul class="tg-matchmetadata">
                                        <li><time datetime="2016-05-03">Nombre des reservations du bloc : {{b.bloc.nbr_place}}</time></li>
                                        <address> Prix de reservation {{b.prix}} DT</address>
                                      </ul>
                                    </div>
                                    <div class="tg-btnsbox">
                                      <span><a class="tg-btn" (click)="reserve(b.bloc.id)">Reserver une place</a></span>

                                    </div>
                                  </div>

                                </div>
                              </div>
                              <div>
                                <span>
                                  <br>
                                </span>
                              </div>
                            </div>
                          </div>
          </section>
        </div>
      </div></section>
  </main>
  <!--************************************
      Main End
  *************************************-->
  <!--************************************
      Footer Start
  *************************************-->
  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-haslayout tg-footerinfobox">
      <div class="tg-bgboxone"></div>
      <div class="tg-bgboxtwo"></div>
      <div class="tg-footerinfo">

              </div>
            </div>

    <div class="tg-footerbar">
      <div class="container">
        <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net"></a></span>
        <nav class="tg-footernav">



        </nav>
      </div>
    </div>
  </footer>
  <!--************************************
      Footer End
  *************************************-->
</div>
<!--************************************
    Wrapper End
*************************************-->
<!--************************************
    Search Start
*************************************-->

<!--************************************
    Search End
*************************************-->
<!--************************************
  LightBoxes Start
*************************************-->
