<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <p class="text-muted">Modifier carte d'équipe</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-drivers-license fa-2x"></i></span>
                  </div>
                  <input type="text"[(ngModel)]="carteUpdate.nomCarte" class="form-control" placeholder="nom carte" autocomplete="nom carte" [value]="carte.nomCarte" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-file-photo-o fa-2x"></i> </span> <label class="text-value-lg">Model Carte d'équipe</label>

                  </div>
                  <input #img (change)="uploadImage(img)"  class="form-control-file text-value-lg text-secondary" type="file"  title="logo" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="file-input" name="file-input">

                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-list fa-2x"></i></span>
                  </div>
                  <select  (change)="onChangeEquipe($event)">
                    <option value="" disabled selected>Selecte l'equipe</option>
                    <option  *ngFor="let e of equipe" [value]="e.id">{{e.nomEquipe}}</option>
                  </select>

                </div>
                <button type="button"(click)="updatecarte()" class="btn  btn-success text-value-lg center-block">Modefier carte</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
