<div class="container">
  <div class="main-body">

      <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{user.image}}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user.nom}} {{user.prenom}}</h4>
                <p class="text-secondary mb-1">{{user.type}}</p>
                <p class="text-muted font-size-sm">{{user.equipe.nomEquipe}}</p>
                <label class="switch switch-label switch-pill switch-success">
                  activé <input type="checkbox" class="switch-input" [checked]="user.situation==='enabled'" (change)="change($event)">
                  <span  class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nom d'utilisateur</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.username}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Âge</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{age}}
              </div>
            </div><hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">GSM</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.numTel}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Equipe</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <div class="profile">
                  <img src= "{{user.equipe.logo}}"class="img-avatar" alt="image profil" width="100" height="100">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.address}}
              </div>
            </div>

          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Image CIN</i></h6>
                <small><div>
                  <img src= "{{user.imageCIn}}" alt="image CIN" width="100" height="100">
                </div></small>

              </div>
            </div>
          </div>

          <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                  <button type="button"(click)="generatePDF()" class="btn btn-success">PDF Carte</button>

                  <div #content>

                    <div  id="carte" [style.backgroundImage]="'url('+ carte.modelCarte +')'">



                      <div id="image" class="profile">
                        <img src= "{{user.image}}"alt="image profil" width="100" height="110">
                      </div>

                      <div id="nom"> Nom : {{user.nom}}</div>
                      <div id="prenom"> Prenom : {{user.prenom}}</div>
                      <div id="adress"> Addresse : {{user.address}}</div>

                    </div>

                    <div id="codeqr" ><ngx-qrcode
                      [elementType]="elementType"
                      [errorCorrectionLevel]="correctionLevel"
                      [value]="qrCodeValue"
                      cssClass="bshadow"
                      [width]="70"
                      errorCorrectionLevel="H"
                    ></ngx-qrcode>
                    </div>

                  </div>

                </div>
              </div>
            </div>



          </div>
          </div>
        </div>
      </div>

    </div>


