.bshadow {

  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 1px 1px #000000);
  opacity: inherit;

}
#body{
  position: relative;
  right: 10%;
}
#nav,#sid{
  position: relative;

}
#carte{

  width: 500px;
  height:250px;
  position: relative;
  background-repeat: no-repeat;
}


#image{

  position: relative;
  top: 80px;
  left: 20px;
}
#nom,#prenom,#adress{

  top: 0px;
  left: 140px;
  position: relative  ;
  font-weight: bold;
  font-size: large;
  color:black ;
  opacity: inherit;
  filter: drop-shadow(5px 5px 5px #000000);


}


#codeqr{
  width: 125px;
  height: 100px;
  position: relative;
  bottom: 80px;
  left: 385px;
}
