
<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
      Mobile Menu Start
  *************************************-->
  <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
    <span id="tg-close" class="tg-close fa fa-close"></span>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="/#/Partie/listPartieUser">partie Local</a>

        </li>
        <li>
          <a href="/#/Partie/listPartieVUser">partie Visiteuse</a>

        </li>

      </ul>
    </div>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="#">Mes réservations</a>

        </li>
        <li>
          <a href="/#/equipes/allequipe">Contact</a>

        </li>

      </ul>
    </div>
  </div>
  <!--************************************
      Mobile Menu End
  *************************************-->
  <!--************************************
      Header Start
  *************************************-->
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <nav id="tg-nav" class="tg-nav brand-center">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                <i class="fa fa-bars"></i>
              </button>
              <strong class="tg-logo">
                <a href="index-2.html"><img src="./assets/img/brand/image.png" alt="image description"></a>
              </strong>
            </div>
            <div id="tg-navigation" class="tg-navigation">
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="/#/Partie/listPartieUser">partie Locaux</a>

                  </li>
                  <li>
                    <a href="/#/Partie/listPartieVUser">partie Visiteuse</a>

                  </li>

                </ul>
              </div>
              <div class="tg-colhalf">
                <ul>
                  <li>
                    <a href="/#/reservation/mesRservations">Mes réservations</a>

                  </li>
                  <li>
                    <a   href="#" role="button" aria-haspopup="true" aria-expanded="false"  (click)="false">Profile</a>
                    <ul class="tg-dropdown-menu">


                      <li><a  routerLink="/users/userProfile"><i class="fa fa-user"></i> Mon profile</a></li>
                      <li *ngIf="this.isShown"><a  routerLink="/dashboard"><i class="fa fa-tachometer"></i> dashboard</a></li>
                      <li> <a class="tg-btn " (click)="logout()"><span><i class="fa fa-lock"></i> Déconnexion</span></a>

                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--************************************
      Header End
  *************************************-->
  <!--************************************
      Banner Start
  *************************************-->
  <div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
      <img src="./assets/front/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
      <div class="row">
        <div class="tg-banner-content tg-haslayout">
          <div class="tg-pagetitle">
            <h1>Bienvenue </h1>
          </div>
          <ol class="tg-breadcrumb">
            <li class="active"><span>{{user.nom}}  {{user.prenom}}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
<!--************************************
      Home Slider End
  *************************************-->
  <!--************************************
      Main Start
  *************************************-->
  <main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
        About Us Start
    *************************************-->
     <!--************************************
      About Us End
  *************************************-->
  <!--************************************
      Upcoming Match Start
  *************************************-->
  <section class=" tg-haslayout tg-bgstyleone">
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-bgpattrant">
      <div class="container">
        <div class="row">
          <div class="tg-upcomingmatch-counter">
            <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
              <figure>
                <img src="./assets/front/images/img-02.png" alt="image description">
              </figure>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" >
              <div class="tg-contentbox" *ngFor= "let p of parties | paginate:{ id: 'foo',
                                                      itemsPerPage: 3 ,
                                                      currentPage: page,
                                                      totalItems: totlaRecord }">
                <div class="tg-section-heading"><h2><span> <div  class="card-body">

                        <h2>  {{p.stade.nom}} <br><span>{{p.date}} </span><br><span>{{p.time}} </span></h2><br>
                        <div class="quote-box2 text-center bounceInDown" data-wow-delay=".20s">
                          <h2>  nombre de reservation {{p.nbr_place}} </h2>
                        </div>

                    </div></span></h2></div>

                <section class="tg-main-section tg-haslayout">

                  <div class="container">
                    <div class="col-sm-11 col-xs-10 pull-left">
                      <div class="row">
                        <div class="tg-latestresult">
                          <div class="row">
                            <div class="col-md-8 col-sm-10 col-xs-12">
                              <div class="tab-content tg-tabscontent">
                                <div role="tabpanel" class="tab-pane active" id="one">
                                  <div class="tg-matchresult">
                                    <div class="tg-box">
                                      <div class="tg-score" ></div>
                                      <div class="tg-teamscore">
                                        <strong class="tg-team-logo">
                                          <a href="#">
                                            <img src="{{p.equipeLocaux.logo}}" alt="image description">
                                          </a>
                                        </strong>
                                        <div class="tg-team-nameplusstatus" >
                                          <h4><a href="#">{{p.equipeLocaux.nomEquipe}}</a></h4>
                                        </div>

                                      </div>
                                      <div class="tg-teamscore">
                                        <strong class="tg-team-logo">
                                          <a href="#">
                                            <img src="{{p.equipeVisiteur.logo}}" alt="image description">
                                          </a>
                                        </strong>
                                        <div class="tg-team-nameplusstatus">
                                          <h4><a href="#">{{p.equipeVisiteur.nomEquipe}}</a></h4>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="tg-btnbox brand-center">
                  <a class="tg-btn" routerLink="/reservation/addReservation/{{p.id}}"><span>{{p.categroie.nom}}</span></a>
                </div>

              </div>
              <div (click)="onActivate($event) "class="text-value-lg align-items-center ">
                <pagination-controls id="foo" maxSize="6" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <footer id="tg-footer" class="tg-footer tg-haslayout">
      <div class="tg-haslayout tg-footerinfobox">
        <div class="tg-bgboxone"></div>
        <div class="tg-bgboxtwo"></div>
        <div class="tg-footerinfo">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 ">
                <div class="tg-footercol">
                  <div class="tg-haslayout">
                    <strong class="tg-logo ">
                      <a href="#">
                        <img src="./assets/img/brand/image.png" alt="image description">
                      </a>
                    </strong>
                  </div>

                  <ul class="tg-contactinfo text-value-lg">
                    <li>
                      <i class="fa fa-map-o "></i>
                      <address> 14 Rue Ibn Al Jazzar 4000 Sousse - SOUSSE</address>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o fa-2x text-value-lg"></i>
                      <a href="info%40domain.html"> liguesoussefootball@gmail.com</a>
                    </li>
                    <li>
                      <i class="fa fa-phone fa-2x text-value-lg"></i>
                      <span> +216 73 226 785</span>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="tg-footercol">
                  <div class="">
                  </div>
                  <div class="tg-description">
                  </div>
                  <form class="tg-form-newsletter">

                  </form>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="tg-footercol">
                  <div class="tg-posttitle">
                    <h3>S'inscrir chez Sportaholic Access</h3>
                  </div>
                  <div class="tg-description">
                  </div>
                  <form class="tg-form-newsletter">
                    <fieldset>

                      <button class="tg-btn" type="submit">S'inscrir</button>
                    </fieldset>
                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div class="tg-footerbar">
        <div class="container">
          <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Sportaholic Accees</a></span>

        </div>
      </div>
    </footer>
  <!--************************************
      Footer End
  *************************************-->

  <!--************************************
      Wrapper End
  *************************************-->
  <!--************************************
      Search Start
  *************************************-->
  </main>
</div>

