
<label class="form-label"><h2>chercher utilisateur </h2> </label>
<div class="input-group">
  <div class="form-outline">
    <select class="form-control"(change)="onChangeEquipe($event)">
      <option value="" disabled selected>slectionnez equipe</option>
      <option *ngFor="let e of equipe" [value]="e.nomEquipe">{{e.nomEquipe}}</option>
    </select>   </div>
  <button (click)="getUsersEquipe()" type="button" class="btn btn-primary">
    <i class="fa fa-search"></i>
  </button><br>

</div>
<label class="form-label"><h2>liste des utilisateur active  </h2> </label>
<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
      <!--  <th class="text-center"><i class="icon-people"></i></th>-->
      <th class="text-center"><i class="icon-people"></i></th>
      <th>cin</th>
        <th class="text-center">nom</th>
        <th>prenom</th>
        <th class="text-center">username</th>
        <th>phoneNumber</th>
        <th>type</th>
        <th>sutiation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let user of listUserEnable ">
        <td class="text-center">
          <div class="avatar">
            <img src="{{user.image}}" class="img-avatar" >
            <span class="avatar-status badge-success"></span>
          </div>
        </td>
        <td>
          <div>{{user.cin}}</div>

        </td>

        <td>
          <div class="clearfix">
            <div class="float-left">
              {{user.nom}}
            </div>
          </div>

        </td>

        <td>
          <div >{{user.prenom}}</div>
        </td>

        <td >
          <div><a routerLink="/users/updateUser/{{user.username}}" >  {{user.username}}</a> </div>
        </td>
        <td>
          <div>{{user.numTel}}</div>


        </td>
        <td >
          <div>{{user.type}}</div>
         </td>
        <td>

              <div>{{user.situation}}</div>

        </td>
      </tr>
    </tbody>
  </table>
