<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button"routerLink="/users/userEnable" class="btn btn-transparent p-0 float-right" >
            <i class="fa fa-users fa-2x"></i>
          </button>
          <div ><h4>{{nbrUserEnabled}}</h4></div>
          <div class="tg-contentbox"><h5>Nombre d'utilisateurs actifs </h5></div>
        </div>

      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button" routerLink="/users/userNotEnable"class="btn btn-transparent p-0 float-right" >
              <i class="fa fa-user-secret fa-2x"></i>
            </button>
          </div>
          <div ><h4>{{nbrUserNotEnabled}}</h4></div>
          <div class="tg-contentbox "><h5>Nombre d'utilisateurs non actifs </h5>  </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button"  routerLink="/equipes/allequipe" class="btn btn-transparent  p-0 float-right" >
              <i class="fa fa-flag-o fa-2x" aria-hidden="true"></i>
            </button>

          </div>
          <div ><h4>{{nbrEquipe}}</h4></div>
          <div class="tg-contentbox"><h5>Nombre d'equipes</h5></div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button"routerLink="/stade/listStade"class="btn btn-transparent  p-0" >
              <i class="fa fa-futbol-o fa-2x"></i>
            </button>

          </div>
          <div ><h4>{{nbrStade}}</h4></div>
          <div class="tg-contentbox"><h5>Nombre de stades</h5></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="  tg-haslayout">

      <div class="row ">
        <div class="container-fluid">
          <div class="card p-4">
            <h5 class="card-title">Nombre d'utilisateurs actifs par equipe </h5>
            <canvas
              baseChart [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="type">
            </canvas>
          </div>
        </div>
      </div>
  </div>
  <!--/.card-->

</div>
