<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button"routerLink="/users/userEnable" class="btn btn-transparent p-0 float-right" >
            <i class="icon-user"></i>
          </button>
          <div class="text-value">{{nbrUserEnabled}}</div>
          <div>Nombre d'utilisateurs activer </div>
        </div>

      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button" routerLink="/users/userNotEnable"class="btn btn-transparent p-0 float-right" >
              <i class="icon-lock"></i>
            </button>
          </div>
          <div class="text-value">{{nbrUserNotEnabled}}</div>
          <div>Nombre d'utilisateurs non activés  </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" >
            <button type="button"  routerLink="/equipes/allequipe" class="btn btn-transparent  p-0 float-right" >
              <i class="icon-people"></i>
            </button>

          </div>
          <div class="text-value">{{nbrEquipe}}</div>
          <div>Nombre d'equipes</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button"routerLink="/stade/listStade"class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>

          </div>
          <div class="text-value">{{nbrStade}}</div>
          <div>Nombre de stades</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-header">
    Statistique
      <div class="card-header-actions">


      </div>
    </div>
      <div class="row">
        <div class="container-fluid">
          <div class="card p-4">
            <h5 class="card-title">Nombre d'utilisateur activer par equipe </h5>
            <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="type">
            </canvas>
          </div>
        </div>
      </div>
  </div>
  <!--/.card-->

</div>
