<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form>
                  <p class="text-muted">Create Equipe</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-drivers-license "></i></span>
                    </div>
                    <input type="text"[(ngModel)]="equipe.nomEquipe" class="form-control" placeholder="nom Equipe"  value="{{equipe.nomEquipe}}" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text"[(ngModel)]="equipe.abrviation" class="form-control" placeholder="abriviation" autocomplete="abrviation"value="{{equipe.abrviation}}"required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-file-photo-o "></i> </span>
                    </div>
                    <input #img (change)="uploadImage(img)" type="file"  title="logo" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="file-input" name="file-input">

                  </div>
                  <button type="button"(click)="updateEquipe()" class="btn btn-block btn-success">update equipe</button>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
