<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
      Mobile Menu Start
  *************************************-->
  <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
    <span id="tg-close" class="tg-close fa fa-close"></span>
    <div class="tg-colhalf">
      <ul>
        <li class="active menu-item-has-children">
          <a href="#">ACCUEIL</a>

        </li>

      </ul>
    </div>
    <div class="tg-colhalf">
      <ul>
        <li class="menu-item-has-children">
          <a href="#">à Propos</a>

        </li>
        <li class="menu-item-has-children">
          <a href="#">Contact</a>

        </li>

      </ul>
    </div>
  </div>
  <!--************************************
      Mobile Menu End
  *************************************-->
  <!--************************************
      Header Start
  *************************************-->
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">

          <nav id="tg-nav" class="tg-nav brand-center">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                <i class="fa fa-bars"></i>
              </button>
              <strong class="tg-logo">
                <a href="#"><img src="./assets/img/brand/image.png" alt="image description"></a>
              </strong>
            </div>
            <div id="tg-navigation" class="tg-navigation">
              <div class="tg-colhalf">
                <ul>
                  <li class="active">
                    <a href="#">ACCUEIL</a>

                  </li>

                  <li>
                    <a href="" (click)="onActivateApropos($event)" >à propos</a>

                  </li>

                </ul>
              </div>
              <div class="tg-colhalf">
                <ul>

                  <li>
                    <a href="#">Contact</a>

                  </li>
                  <li><a routerLink="/login">connexion <i class="fa fa-lock"></i></a></li>

                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--************************************
      Header End
  *************************************-->
  <!--************************************
      Home Slider Start
  *************************************-->
  <div class="tg-sliderbox">
    <div class="tg-imglayer">
      <img src="./assets/front/images/bg-pattran.png" alt="./assets/frontimage desctription">
    </div>
    <div id="tg-home-slider" class="tg-home-slider tg-haslayout">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <figure class="floating">
              <img src="./assets/front/images/slider/img-01.png" alt="image description">
            </figure>
            <div class="tg-slider-content">
              <h1>sportaholic<span>access</span></h1>
              <div class="tg-btnbox">
                <h2>22/11/2021</h2>
            </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <figure class="floating">
              <img src="./assets/front/images/slider/img-01.png" alt="image description">
            </figure>
            <div class="tg-slider-content">
              <h1>sportaholic <span>access</span></h1>
              <div class="tg-btnbox">
                <h2>22/11/2021</h2>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--************************************
      Home Slider End
  *************************************-->
  <!--************************************
      Main Start
  *************************************-->
  <main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
        About Us Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
      <div class="container">
        <div id="apropos" class="tg-section-name">
          <h2>à propos</h2>
        </div>
        <div class="col-sm-11 col-xs-11 pull-right">
          <div class="row">
            <div class="tg-aboutussection">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <figure>
                    <img src="./assets/Triangulation-Stade-Sousse.jpg" alt="image description">
                  </figure>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="tg-contentbox">
                    <div class="tg-section-heading"><h1>SPORTAHOLIC ACCESS</h1></div>
                    <div class="tg-description">
                      <h2>Nous vous offrons des services d'organisation des événements sportifs,
                        notamment de football.</h2>
                    </div>
                    <!--<div class="tg-btnbox">
                      <a class="tg-btn" href="#"><span>read more</span></a>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!--************************************
      About Us End
  *************************************-->
  <!--************************************
      Upcoming Match Start
  *************************************-->
  <section class=" tg-haslayout tg-bgstyleone">
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-bgpattrant">
      <div class="container">
        <div class="row">
          <div class="tg-upcomingmatch-counter">
            <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
              <figure>
                <img src="./assets/front/images/img-02.png" alt="image description">
              </figure>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" >
              <div class="tg-contentbox" *ngFor= "let p of parties | paginate:{ id: 'foo',
                                                      itemsPerPage: 3 ,
                                                      currentPage: page,
                                                      totalItems: totlaRecord }">
                <div class="tg-section-heading"><h2><span> <div  class="card-body">

                        <h2>  {{p.stade.nom}} <br><span>{{p.date}} </span><br><span>{{p.time}} </span></h2><br>
                        <div class="quote-box2 text-center bounceInDown" data-wow-delay=".20s">
                          <h2>  nombre de reservation {{p.nbr_place}} </h2>
                        </div>

                    </div></span></h2></div>

                <section class="tg-main-section tg-haslayout">

                  <div class="container">
                    <div class="col-sm-11 col-xs-10 pull-left">
                      <div class="row">
                        <div class="tg-latestresult">
                          <div class="row">
                            <div class="col-md-8 col-sm-10 col-xs-12">
                              <div class="tab-content tg-tabscontent">
                                <div role="tabpanel" class="tab-pane active" id="one">
                                  <div class="tg-matchresult">
                                    <div class="tg-box">
                                      <div class="tg-score" ></div>
                                      <div class="tg-teamscore">
                                        <strong class="tg-team-logo">
                                          <a href="#">
                                            <img src="{{p.equipeLocaux.logo}}" alt="image description">
                                          </a>
                                        </strong>
                                        <div class="tg-team-nameplusstatus" >
                                          <h4><a href="#">{{p.equipeLocaux.nomEquipe}}</a></h4>
                                        </div>

                                      </div>
                                      <div class="tg-teamscore">
                                        <strong class="tg-team-logo">
                                          <a href="#">
                                            <img src="{{p.equipeVisiteur.logo}}" alt="image description">
                                          </a>
                                        </strong>
                                        <div class="tg-team-nameplusstatus">
                                          <h4><a href="#">{{p.equipeVisiteur.nomEquipe}}</a></h4>
                                        </div>

                                      </div>
                                    </div>
                                  </div>

                                </div>




                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="tg-btnbox brand-center">
                  <a class="tg-btn" routerLink="/reservation/addReservation/{{p.id}}"><span>{{p.categroie.nom}}</span></a>
                </div>
                <div></div>
              </div>
              <div (click)="onActivate($event) "class="text-value-lg align-items-center ">
                <pagination-controls id="foo" maxSize="6" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </main>
    <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-haslayout tg-footerinfobox">
      <div class="tg-bgboxone"></div>
      <div class="tg-bgboxtwo"></div>
      <div class="tg-footerinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 ">
              <div class="tg-footercol">
                <div class="tg-haslayout">
                  <strong class="tg-logo ">
                    <a href="#">
                      <img src="./assets/img/brand/image.png" alt="image description">
                    </a>
                  </strong>
                </div>

                <ul class="tg-contactinfo text-value-lg">
                  <li>
                    <i class="fa fa-map-o "></i>
                    <address> 14 Rue Ibn Al Jazzar 4000 Sousse - SOUSSE</address>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o fa-2x text-value-lg"></i>
                    <a href="info%40domain.html"> liguesoussefootball@gmail.com</a>
                  </li>
                  <li>
                    <i class="fa fa-phone fa-2x text-value-lg"></i>
                    <span> +216 73 226 785</span>
                  </li>
                </ul>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="">
                </div>
                <div class="tg-description">
                </div>
                <form class="tg-form-newsletter">

                </form>

              </div>
            </div>
            <div class="col-sm-4">
            <div class="tg-footercol">
              <div class="tg-posttitle">
                <h3>S'inscrir chez Sportaholic Access</h3>
              </div>
              <div class="tg-description">
              </div>
              <form class="tg-form-newsletter">
                <fieldset>

                  <button class="tg-btn" type="submit">S'inscrir</button>
                </fieldset>
              </form>

            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
    <div class="tg-footerbar">
      <div class="container">
        <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Sportaholic Accees</a></span>

      </div>
    </div>
  </footer>
</div>
