<table class="table table-responsive-sm  text-value-lg table-active">
  <thead class="thead-dark ">
  <tr>
    <!--  <th class="text-center"><i class="icon-people"></i></th>-->
    <!-- <th class="text-center"><i class="icon-people"></i></th>-->
    <th  class="text-center">nom carte</th>

    <th class="text-center">model</th>

  </tr>
  </thead>
  <tbody>
  <tr class="text-value-lg" *ngFor= "let c of carte ">
    <!-- <td class="text-center">
    <td class="text-center">
       <div class="avatar">
         <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
         <span class="avatar-status badge-success"></span>
       <img src="{{e.logo}}" class="img-avatar" >
       </div>
     </td>-->
    <td >
      <div ><a routerLink="/carte/updateCarte/{{c.id}}">{{c.nomCarte}}</a></div>
    <!--  <div><a routerLink="/equipes/updateEquipe/{{e.id}}" >{{e.nomEquipe}}</a></div>-->

      <!--<div class="small text-muted">
         <span>New</span> | Registered: Jan 1, 2015
       </div>-->
    </td>
    <!--  <td class="text-center">
        <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
      </td>-->
    <td class="text-center">
      <div>

        <div class="profile">

          <img src="{{c.modelCarte}}"width="50%" height="50%" >

        </div>
      </div>
      <!--<div class="progress progress-xs">
          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>-->
    </td>



    <!-- <td >
       <div><a routerLink="/users/updateUser/{{user.username}}" >  {{user.username}}</a> </div>
     </td>
     <td>
       <div>{{user.numTel}}</div>


     </td>
     <td >
       <div>{{user.type}}</div>
      </td>
     <td>

           <div>{{user.situation}}</div>

     </td>-->
  </tr>
  </tbody>
</table>

